  ../../../.bash_history
        ../../../.condarc
        ../../../.continuum/
        ../../../.dotnet/
        ../../../.gitconfig
        ../../../.ipynb_checkpoints/
        ../../../.ipython/
        ../../../.jupyter/
        ../../../.lesshst
        ../../../.matplotlib/
        ../../../.node_repl_history
        ../../../.templateengine/
        ../../../.vscode/
        ../../../3D Objects/
        ../../../AppData/
        ../../../Contacts/
        ../../../Creative Cloud Files/
        ../../../Day 5 PandasDay1&2.ipynb
        ../../../Downloads/
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Matplot Day 2.ipynb
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Saved Games/
        ../../../Seaborn Day 1.ipynb
        ../../../Seaborn.ipynb
        ../../../Searches/
        ../../../Videos/
        ../../../WERE
        ../../../anaconda3/
        ../../../basicwordle/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../test
        ../../../ud120-projects/
        ../../../untitled
        ../../../untitled.txt
        ../../../untitled1
        ../../../volumes.txt
        ../../../word_guessing_game/